body {
  margin: 0;
}

.icon {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 10%;
}

.section1 {
  background-image: url('img/header-illsutration-mobile.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top -15px;
  height: 100vh;
  width: 100%;
  padding-top: 50px;
}

.text_color {
  color: #36b37e;
  margin-left: 10px;
  margin-top: -5px;
  font-size: 40px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-top: 25px;
  color: #172b4d;
}

.header-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
  font-size: 24px;
  margin-top: 16px;
  font-weight: 600;
  width: 295px;
  margin-left: 16px;
  margin-right: 16px;
}

.header-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  font-size: 40px;
  margin-top: 65px;
  color: #172b4d;
}

.header-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  text-align: center;
  color: #344563;
  font-size: 24px;
  margin-top: 16px;
  font-weight: 600;
  width: 337px;
  line-height: 32px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header-5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  font-size: 40px;
  margin-top: 20%;
}

.paragraph {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin-top: -5px;
}

.paragraph-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #42526e;
  margin-top: -5px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.images {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 19px;
  margin-top: 10px;
  list-style-type: none;
}

.images-1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 10%;
  list-style-type: none;
}

.scroll {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll div {
  width: 40px;
  height: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit);
  margin-top: 62px;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
}

.grid-item {
  display: grid;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  margin: 0 auto;
  width: 327px;
  height: 474px;
  border-radius: 10px;
}

.grid-item-top {
  display: grid;
  background: #ebf0ee;
  height: 230px;
}

.grid-item-bottom {
  display: grid;
  background: white;
  border-radius: 10px;
  height: 244px;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px;
  margin-top: 29px;
  margin-left: 103px;
  margin-right: 102px;
  position: relative;
  width: 122px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  outline: none;
  border: none;
}

.btn-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px;
  margin-top: 29px;
  margin-left: 103px;
  margin-right: 102px;
  margin-bottom: 24px;
  position: relative;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  width: 153px;
  outline: none;
  border: none;
}

.btn-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px;
  margin-left: 103px;
  margin-right: 102px;
  margin-bottom: 24px;
  position: relative;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  width: 129px;
  margin-top: -15px;
  outline: none;
  border: none;
}

.text {
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: -15px;
}

.image-container li {
  margin: 0;
  padding: 0;
}

.images:hover {
  filter: none;
}

#about-id {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#about-id::before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 68px;
  height: 128px;
  background-image: url('img/Mask Group.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

#about-id::after {
  content: "";
  position: absolute;
  width: 127.02px;
  height: 56.99px;
  left: 0;
  top: 80%;
  background-image: url('img/Frame.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
}

.grid-item-1 {
  display: grid;
  box-sizing: border-box;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  align-items: center;
  margin: 0 auto;
  width: 327px;
  height: 316px;
}

.icon-language {
  position: relative;
  width: 80px;
  height: 80px;
  left: calc(50% - 80px / 2 + 0.5px);
  top: calc(50% - 80px / 2);
}

#one {
  position: relative;
  width: 80px;
  height: 80px;
  left: calc(50% - 80px / 2 + 0.5px);
  top: calc(50% - 80px / 2);
  background-image: url('img/icon-languages.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#two {
  position: relative;
  width: 80px;
  height: 80px;
  left: calc(50% - 80px / 2 + 0.5px);
  top: calc(50% - 80px / 2);
  background-image: url('img/icon-frameworks.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#three {
  position: relative;
  width: 80px;
  height: 80px;
  left: calc(50% - 80px / 2 + 0.5px);
  top: calc(50% - 80px / 2);
  background-image: url('img/icon-skills.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.image-container-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 5px;
  margin-top: -15px;
}

.image-container-1 li {
  align-items: center;
}

textarea {
  height: 150px;
}

.input-text {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #6b778c;
}

.input-message {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  height: 114px;
  color: #42526e;
}

.union {
  position: relative;
  width: 10.5px;
  height: 10.5px;
  left: 310px;
  top: -25px;
  mix-blend-mode: normal;
}

#four {
  content: "";
  position: relative;
  width: 90.81px;
  height: 130px;
  left: 80%;
  top: -220px;
  background-image: url('img/illustration.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 3;
}

@media only screen and (min-width: 375px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 25px;
  }

  #about-id {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  #about-id::before {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    content: "";
    position: absolute;
    top: 0;
    margin-left: 90%;
    width: 68px;
    height: 128px;
    background-image: url('img/Mask Group.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }

  #about-id::after {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    content: "";
    width: 128.02px;
    height: 57.04px;
    background-image: url('img/Frame.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
  }
}
