body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url('img/Header-llustration-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% auto;
}

html,
body {
  overflow-x: hidden;
}

nav {
  position: absolute;
  top: 0;
  width: 50%;
  z-index: 1;
  display: none;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav li {
  margin: 0 40px;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  color: #505f79;
  line-height: 0.5;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
}

.text_color {
  color: #36b37e;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: -40px;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 200px;
}

.header-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  line-height: 32px;
  text-align: center;
  color: #172b4d;
  font-size: 24px;
  margin-top: 16px;
  font-weight: 600;
  width: 337px;
  margin-left: 16px;
  margin-right: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  font-size: 40px;
  margin-top: 65px;
  color: #172b4d;
}

.header-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  text-align: center;
  font-size: 24px;
  margin-top: 16px;
  font-weight: 600;
  width: 337px;
  line-height: 32px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  max-width: 500px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #172b4d;
  font-size: 40px;
  margin-top: -140px;
  margin-left: 70px;
  line-height: 52px;
  flex: none;
  order: 0;
  flex-grow: 0;
  white-space: nowrap;
}

.header-5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  font-size: 40px;
  margin-top: 60%;
}

.paragraph {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #172b4d;
  margin-top: -1em;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.paragraph-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin-top: -1em;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.images {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 19px;
  padding: 0;
}

.scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.scroll div {
  width: 40px;
  height: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  margin-top: 62px;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  grid-gap: 30px 25px;
  width: 1113px;
}

.grid-container-4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  margin-top: 62px;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  grid-gap: 30px 25px;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  grid-gap: 30px 25px;
  width: 1113px;
  margin: 0 auto;
  margin-top: 5%;
}

.grid-container-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  grid-gap: 30px 25px;
  width: 1110px;
  margin: 0 auto;
}

.grid-item {
  display: grid;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  margin: 0 auto;
  width: 369px;
  height: 474px;
  border-radius: 8px;
  position: relative;
}

.grid-item-2 {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 auto;
  width: 369px;
  height: 474px;
  border-radius: 8px;
}

.grid-item-top {
  background: #ebf0ee;
  height: 237px;
}

.grid-item-bottom {
  background: white;
  height: 237px;
  flex-grow: 1;
  bottom: 0;
  left: 0;
  right: 0;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px;
  margin-top: 29px;
  margin-left: 125px;
  margin-right: 102px;
  margin-bottom: 24px;
  gap: 10px;
  position: relative;
  width: 122px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  outline: none;
  border: none;
}

.btn-1 {
  display: grid;
  place-self: flex-end;
  grid-template-columns: 1fr;
  align-items: center;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  outline: none;
  border: none;
}

#button {
  display: flex;
  justify-content: center;
}

.btn-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px;
  margin-left: 2px;
  margin-right: 102px;
  margin-bottom: 24px;
  position: relative;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  width: 129px;
  margin-top: -10px;
  outline: none;
  border: none;
}

.text {
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  margin-top: -15px;
}

.image-container li {
  margin: 0;
  padding: 0;
}

.images:hover {
  filter: none;
}

.grid-item-1 {
  display: flex;
  box-sizing: border-box;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 350px;
  height: 320px;
  margin-top: 50%;
}

.one {
  width: 80px;
  height: 80px;
  margin: auto;
  object-fit: contain;
  object-position: center;
  background-repeat: no-repeat;
}

.two {
  width: 80px;
  height: 80px;
  margin: auto;
  object-fit: contain;
  object-position: center;
  background-repeat: no-repeat;
}

.three {
  width: 80px;
  height: 80px;
  margin: auto;
  object-fit: contain;
  object-position: center;
  background-repeat: no-repeat;
}

.image-container-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 10px;
  margin-top: -15px;
  max-width: 369px;
  max-height: 316px;
}

.image-container-1 li {
  text-align: center;
}

.image-container-1 h6 {
  margin: 0;
}

.javascript {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.javascript-background {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 60px;
  height: 20px;
  background: #fff;
  border: 8px;
  border-radius: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ruby {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ruby-background {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 40px;
  height: 20px;
  background: #fff;
  border: 8px;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.html {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.html-background {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 40px;
  height: 20px;
  background: #fff;
  border-radius: 10px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.css {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.css-background {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 40px;
  height: 20px;
  background: #fff;
  border-radius: 10px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.react {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.react-background {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 40px;
  height: 20px;
  background: #fff;
  border-radius: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ruby-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ruby-background-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 100px;
  height: 20px;
  background: #fff;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.capybara-background {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 50px;
  height: 20px;
  background: #fff;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.database {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 141px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.database-background {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 150px;
  height: 20px;
  background: #fff;
  border-radius: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.version-background {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 90px;
  height: 20px;
  background: #fff;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.web-background {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 120px;
  height: 20px;
  background: #fff;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.cli-background {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.api-background {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 70px;
  height: 20px;
  background: #fff;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#about-id {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
  margin-top: 5%;
  position: relative;
}

#about-id::before {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  content: "";
  width: 287.84px;
  height: 150px;
  position: absolute;
  margin-left: -120%;
  margin-top: 20%;
  background-image: url('img/Group.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 0;
  z-index: 1;
}

#about-id::after {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  content: "";
  width: 269.55px;
  height: 244.78px;
  position: absolute;
  margin-left: 110%;
  margin-top: -6%;
  background-image: url('img/Group1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 0;
  z-index: 2;
}

.form {
  width: 470px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  margin-left: 230px;
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  background: #fff;
  box-sizing: border-box;
}

textarea {
  height: 150px;
}

.input-text {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #6b778c;
}

.input-message {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  height: 114px;
  color: #42526e;
}

.email {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin-top: -55px;
  color: #42526e;
}

.grey-line {
  border-top: 1px solid #dfe1e6;
  width: 100%;
  height: 1px;
  margin-top: 10%;
  position: absolute;
  left: 0;
}

.images-1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  gap: 19px;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

#four {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  content: "";
  width: 313.9px;
  height: 448.7px;
  margin-left: 660%;
  margin-top: -400%;
  overflow: hidden;
  z-index: 3;
}

#five {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  content: "";
  width: 235.78px;
  height: 261.79px;
  margin-left: -470%;
  margin-top: -300%;
  z-index: 3;
}

#six {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  content: "";
  width: 130.28px;
  height: 105.85px;
  margin-left: -390%;
  margin-top: -260%;
  z-index: 3;
}

@media (max-width: 1400px) {
  .header-5 {
    margin-top: 60%;
  }

  body {
    background-image: url('img/Header-llustration-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% auto;
  }

  html,
  body {
    overflow-x: hidden;
  }

  .grid-container {
    width: 100%;
    margin: 0;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0;
    padding: 0 10px;
  }

  .nav li {
    margin: 0.5;
    font-size: 5px;
  }

  .nav ul {
    list-style: none;
    padding: 0;
    color: #505f79;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
  }

  .paragraph {
    font-size: 11px;
    line-height: 20px;
    margin-top: 0;
  }

  .text_color {
    font-size: 20px;
    line-height: 40px;
    margin-top: -20px;
  }

  .header {
    font-size: 20px;
    line-height: 36px;
    margin-top: 100px;
  }

  .header-2 {
    font-size: 40px;
    line-height: 36px;
    margin-top: 100px;
  }

  .paragraph-1 {
    font-size: 9px;
    line-height: 24px;
    margin-top: 0;
  }

  #about-id::before {
    width: 230px;
    height: 120px;
    background-image: url('img/Group.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 0;
    z-index: 1;
  }

  #about-id::after {
    width: 230px;
    height: 250px;
    background-image: url('img/Group1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 0;
    z-index: 2;
  }

  .grid-container-1 {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    grid-gap: 10px;
    margin: 0;
  }

  .grid-item-1 {
    margin-top: 10%;
  }

  .grid-container-3 {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    width: 100%;
    margin: 0;
    margin-top: 0;
  }

  .grid-container-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    position: relative;
    grid-gap: 0;
  }

  .grid-item-2 {
    width: 200px;
    height: 237px;
    margin: 0 auto;
    border-radius: 4px;
  }

  .header-4 {
    max-width: 30%;
    margin-top: 0;
    margin-left: 0;
    font-size: 24px;
  }

  .form {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    margin-left: 0;
    margin-top: -10%;
  }

  #menu-toggle,
  .menu-icon {
    display: none;
  }

  .menu {
    display: none;
  }

  #four {
    display: block;
    margin: 0 auto;
    width: 25%;
    height: 25%;
    margin-left: 0;
    margin-top: -120%;
    overflow: visible;
    z-index: 0;
    position: absolute;
    right: 0;
  }

  #five {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    overflow: visible;
    z-index: 0;
    position: absolute;
    left: 0;
  }

  #six {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    margin-left: 0;
    margin-top: 0;
    overflow: visible;
    z-index: 0;
    position: absolute;
    left: 1;
  }

  .grey-line {
    margin-top: 30%;
  }
}

@media (max-width: 768px) {
  body {
    background-image: url('img/header-illsutration-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% auto;
  }

  .container {
    padding-top: 50px;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 50px;
    z-index: 1;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 30px;
  }

  .grid-item {
    display: block;
    background: #ebf0ee;
    border: none;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 250px;
    height: auto;
    border-radius: 10px;
    position: relative;
  }

  #about-id::before {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    content: "";
    position: absolute;
    top: 0;
    left: 80%;
    width: 68px;
    height: 128px;
    background-image: url('img/Mask Group.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }

  #about-id::after {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    content: "";
    width: 128.02px;
    height: 57.04px;
    background-image: url('img/Frame.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
  }

  .menu-icon {
    display: block;
    font-size: 20px;
    line-height: 1;
    position: absolute;
    top: 10px;
    left: 87%;
    z-index: 999;
  }

  nav {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    display: none !important;
  }

  .header-4 {
    font-size: 24px;
  }
}
